fastapi
uvicorn[standard]
gunicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
python-multipart
slowapi
openpyxl
python-jose[cryptography]
passlib[bcrypt]
google-genai
pytesseract
pymupdf
pillow
